# Income Prediction

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

### THE DATA

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('census_data.csv')

In [3]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K



** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
data.income_bracket.describe()

count      32561
unique         2
top        <=50K
freq       24720
Name: income_bracket, dtype: object

In [5]:
def label_fix(label):
    if label ==' <=50K':
        return 0
    else:
        return 1

In [6]:
data['income_bracket'] = data['income_bracket'].apply(label_fix)

In [7]:
data.income_bracket.describe()

count    32561.000000
mean         0.240810
std          0.427581
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: income_bracket, dtype: float64

### Perform a Train Test Split on the Data

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_data = data.drop('income_bracket', axis=1)
y_label =data['income_bracket']
X_train, X_test, y_train, y_test = train_test_split(X_data, y_label, test_size=0.3, random_state=101)

### Create the Feature Columns

In [10]:
data.columns
#categorical:'workclass', 'education', 'marital_status', 'occupation', 
#'relationship', 'race', 'gender', 'native_country'

#continous:'age', education_num', 'capital_gain','capital_loss', 'hours_per_week'

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [11]:
import tensorflow as tf

/Users/nevinyilmaz/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [12]:
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=1000)
marital_status =tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size=1000)
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size=1000)
race = tf.feature_column.categorical_column_with_hash_bucket('race', hash_bucket_size=1000)
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender', ['Female', 'Male'])
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=1000)

In [13]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain= tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week =tf.feature_column.numeric_column('hours_per_week')

In [14]:
feat_cols = [workclass, education, marital_status, occupation, relationship, race, gender, native_country, age, education_num, capital_gain, capital_loss, hours_per_week]

### Create Input Function

In [15]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=1000, num_epochs=None, shuffle=True)

### Create your model

In [16]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/2v/xzpgsprx4dgft47fp23gnl_r0000gn/T/tmp2x2nfx2j
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/2v/xzpgsprx4dgft47fp23gnl_r0000gn/T/tmp2x2nfx2j', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x10c536470>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model **

In [17]:
model.train(input_fn=input_func, steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/2v/xzpgsprx4dgft47fp23gnl_r0000gn/T/tmp2x2nfx2j/model.ckpt.
INFO:tensorflow:loss = 693.1464, step = 1
INFO:tensorflow:global_step/sec: 40.2943
INFO:tensorflow:loss = 464.79443, step = 101 (2.490 sec)
INFO:tensorflow:global_step/sec: 37.1132
INFO:tensorflow:loss = 2064.2388, step = 201 (2.688 sec)
INFO:tensorflow:global_step/sec: 40.5909
INFO:tensorflow:loss = 6154.034, step = 301 (2.463 sec)
INFO:tensorflow:global_step/sec: 44.6772
INFO:tensorflow:loss = 3241.856, step = 401 (2.238 sec)
INFO:tensorflow:global_step/sec: 46.1439
INFO:tensorflow:loss = 555.3562, step = 501 (2.167 sec)
INFO:tensorflow:global_step/sec: 39.716
INFO:tensorflow:loss = 422.79926, step = 601 (2.519 sec)
INFO:tensorflow:global_step/sec: 42.6337
INFO:tensorflow:loss = 863.95135, step = 701 (2.345 sec)
INFO:tensorflow:global_step/sec: 43.0004
INFO:tensorflow:loss = 1665.7002, step = 801 (2.325 sec)
INFO:tensorflow:global_step/sec: 47.3382
INFO:tensorflow:loss = 514.6048, step = 901 (2.113 sec)
INFO:tensorflow:global_step/sec: 47.3739
INFO:tensorflow:loss = 376.89014, step = 1001 (2.111 sec)
INFO:tensorflow:global_step/sec: 47.2641
INFO:tensorflow:loss = 1821.9342, step = 1101 (2.115 sec)
INFO:tensorflow:global_step/sec: 41.306
INFO:tensorflow:loss = 658.49023, step = 1201 (2.421 sec)
INFO:tensorflow:global_step/sec: 37.1123
INFO:tensorflow:loss = 370.9467, step = 1301 (2.694 sec)
INFO:tensorflow:global_step/sec: 47.3483
INFO:tensorflow:loss = 1096.915, step = 1401 (2.112 sec)
INFO:tensorflow:global_step/sec: 46.6339
INFO:tensorflow:loss = 800.62683, step = 1501 (2.145 sec)
INFO:tensorflow:global_step/sec: 47.114
INFO:tensorflow:loss = 1652.1605, step = 1601 (2.122 sec)
INFO:tensorflow:global_step/sec: 47.5678
INFO:tensorflow:loss = 1451.5658, step = 1701 (2.102 sec)
INFO:tensorflow:global_step/sec: 47.1638
INFO:tensorflow:loss = 480.59497, step = 1801 (2.121 sec)
INFO:tensorflow:global_step/sec: 46.8312
INFO:tensorflow:loss = 403.7375, step = 1901 (2.135 sec)
INFO:tensorflow:global_step/sec: 47.1567
INFO:tensorflow:loss = 431.15225, step = 2001 (2.120 sec)
INFO:tensorflow:global_step/sec: 47.5344
INFO:tensorflow:loss = 357.58545, step = 2101 (2.104 sec)
INFO:tensorflow:global_step/sec: 46.9844
INFO:tensorflow:loss = 435.31458, step = 2201 (2.129 sec)
INFO:tensorflow:global_step/sec: 41.0522
INFO:tensorflow:loss = 391.07013, step = 2301 (2.435 sec)
INFO:tensorflow:global_step/sec: 39.9214
INFO:tensorflow:loss = 1492.1997, step = 2401 (2.505 sec)
INFO:tensorflow:global_step/sec: 47.1742
INFO:tensorflow:loss = 1618.5479, step = 2501 (2.120 sec)
INFO:tensorflow:global_step/sec: 46.9436
INFO:tensorflow:loss = 503.21506, step = 2601 (2.130 sec)
INFO:tensorflow:global_step/sec: 46.9706
INFO:tensorflow:loss = 966.0814, step = 2701 (2.129 sec)
INFO:tensorflow:global_step/sec: 47.605
INFO:tensorflow:loss = 393.26733, step = 2801 (2.101 sec)
INFO:tensorflow:global_step/sec: 47.1594
INFO:tensorflow:loss = 428.4801, step = 2901 (2.121 sec)
INFO:tensorflow:global_step/sec: 43.6262
INFO:tensorflow:loss = 353.26013, step = 3001 (2.293 sec)
INFO:tensorflow:global_step/sec: 40.9719
INFO:tensorflow:loss = 507.79645, step = 3101 (2.440 sec)
INFO:tensorflow:global_step/sec: 45.3288
INFO:tensorflow:loss = 887.479, step = 3201 (2.207 sec)
INFO:tensorflow:global_step/sec: 40.273
INFO:tensorflow:loss = 336.4252, step = 3301 (2.483 sec)
INFO:tensorflow:global_step/sec: 41.7534
INFO:tensorflow:loss = 374.63318, step = 3401 (2.395 sec)
INFO:tensorflow:global_step/sec: 41.9585
INFO:tensorflow:loss = 472.80768, step = 3501 (2.383 sec)
INFO:tensorflow:global_step/sec: 43.6556
INFO:tensorflow:loss = 355.1195, step = 3601 (2.291 sec)
INFO:tensorflow:global_step/sec: 43.5865
INFO:tensorflow:loss = 331.05438, step = 3701 (2.295 sec)
INFO:tensorflow:global_step/sec: 45.161
INFO:tensorflow:loss = 824.4606, step = 3801 (2.214 sec)
INFO:tensorflow:global_step/sec: 40.18
INFO:tensorflow:loss = 843.9651, step = 3901 (2.489 sec)
INFO:tensorflow:global_step/sec: 44.3653
INFO:tensorflow:loss = 384.3898, step = 4001 (2.255 sec)
INFO:tensorflow:global_step/sec: 45.8549
INFO:tensorflow:loss = 769.8202, step = 4101 (2.180 sec)
INFO:tensorflow:global_step/sec: 42.3913
INFO:tensorflow:loss = 463.62057, step = 4201 (2.359 sec)
INFO:tensorflow:global_step/sec: 46.7407
INFO:tensorflow:loss = 334.80554, step = 4301 (2.140 sec)
INFO:tensorflow:global_step/sec: 46.7461
INFO:tensorflow:loss = 326.91302, step = 4401 (2.139 sec)
INFO:tensorflow:global_step/sec: 47.7382
INFO:tensorflow:loss = 391.86395, step = 4501 (2.095 sec)
INFO:tensorflow:global_step/sec: 47.3456
INFO:tensorflow:loss = 386.34924, step = 4601 (2.112 sec)
INFO:tensorflow:global_step/sec: 46.9744
INFO:tensorflow:loss = 685.4879, step = 4701 (2.132 sec)
INFO:tensorflow:global_step/sec: 47.5411
INFO:tensorflow:loss = 1084.0325, step = 4801 (2.101 sec)
INFO:tensorflow:global_step/sec: 46.6497
INFO:tensorflow:loss = 804.4822, step = 4901 (2.143 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/2v/xzpgsprx4dgft47fp23gnl_r0000gn/T/tmp2x2nfx2j/model.ckpt.
INFO:tensorflow:Loss for final step: 301.13098.

### Evaluation

In [18]:
pred_input_func =tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), shuffle=False)

** Prediction **

In [19]:
predictions = list(model.predict(input_fn=pred_input_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/2v/xzpgsprx4dgft47fp23gnl_r0000gn/T/tmp2x2nfx2j/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [20]:
predictions[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.28895798], dtype=float32),
 'logits': array([-0.9004502], dtype=float32),
 'probabilities': array([0.71104205, 0.28895798], dtype=float32)}

In [21]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [22]:
final_preds[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [23]:
results = pd.DataFrame({'>=50K': final_preds, 'Actual >=50K': y_test})

In [24]:
results

       >=50K  Actual >=50K
22357      0             0
26009      0             0
20734      0             0
17695      0             0
27908      0             1
27225      0             0
13108      0             0
27552      0             0
14043      0             0
30313      0             0
30539      0             1
12462      1             0
16124      0             0
23054      0             0
11161      0             0
7725       0             0
7411       0             0
9378       0             1
21175      0             0
11822      0             0
26046      0             0
32520      0             0
27987      0             0
10003      1             1
16970      1             1
32105      0             0
3014       0             1
17783      0             0
22539      0             0
17285      0             0
...      ...           ...
1387       0             1
4544       0             0
20134      1             1
31973      0             0
7372       0             0
9657       0             0
965        0             0
23642      1             0
4956       0             0
17467      0             0
27002      0             1
22488      0             0
28992      0             0
21512      1             1
3762       0             0
6147       1             1
15262      1             0
12936      0             0
7162       0             0
5270       0             0
27872      1             1
11861      0             0
16788      1             1
29591      0             1
23723      0             0
1943       1             1
23213      0             0
10374      0             0
16238      0             1
28445      0             0

[9769 rows x 2 columns]

In [25]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(y_test, final_preds))

             precision    recall  f1-score   support

          0       0.87      0.93      0.90      7436
          1       0.73      0.57      0.64      2333

avg / total       0.84      0.85      0.84      9769

In [27]:
from sklearn.metrics import accuracy_score
print("Accuracy score: {}".format([accuracy_score(y_test, final_preds)]))

Accuracy score: [0.8467601596888116]